<p id="notice"><%= notice %></p>

<p>
  <b>Vender:</b>
  <%= @gift.vender %>
</p>

<p>
  <b>Amount:</b>
  <%= @gift.amount %>
</p>


<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
